@model CreateTicketDTO

@{
    ViewData["Title"] = "CreateTicket";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Bilet Satış Ekranı</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="invoice p-3 mb-3">
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    <img src="/AdminLTE-3.2.0/dist/img/OtBilet.png" width="80px" height="80px" alt="Metro Turizm"> OtBilet
                                    <small class="float-right">Tarih : @DateTime.Now.ToShortDateString()</small>
                                </h4>
                            </div>
                        </div>
                        <hr />
                        <div class="row invoice-info">
                            <div class="col-sm-6 invoice-col">

                                <address>
                                    <strong> @ViewBag.Passenger.Name @ViewBag.Passenger.Surname</strong><br>
                                    <br />
                                    TC Kimlik No : @ViewBag.Passenger.NationalCardNo<br>
                                    Mail Adresi : @ViewBag.Passenger.Mail<br>
                                    Telefon : @ViewBag.Passenger.PhoneNumber<br>
                                </address>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Kalkış Noktası</th>
                                            <th>Varış Noktası</th>
                                            <th>Koltuk No</th>
                                            <th>Tarih</th>
                                            <th>Saat</th>
                                            <th>Fiyat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@ViewBag.Destination.Departure</td>
                                            <td>@ViewBag.Destination.Arrive</td>
                                            <td>@ViewBag.SeatNumber</td>
                                            <td>@ViewBag.Destination.DepatureDate.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR"))</td>
                                            <td>@ViewBag.Destination.DepartureHour.ToString(@"hh\:mm")</td>
                                            <td>@ViewBag.Destination.Price.ToString("N0") TL</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-6">
                                <p class="lead">Ödeme Yöntemi : Kredi Kartı</p>
                                <img src="/AdminLTE-3.2.0/dist/img/credit/visa.png" alt="Visa">
                                <img src="/AdminLTE-3.2.0/dist/img/credit/mastercard.png" alt="Mastercard">
                                <img src="/AdminLTE-3.2.0/dist/img/credit/american-express.png" alt="American Express">
                                <img src="/AdminLTE-3.2.0/dist/img/credit/paypal2.png" alt="Paypal">
                            </div>
                            <!-- /.col -->
                            <div class="col-6">

                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:56%"> </th>
                                            <th>Toplam</th>
                                            <td style="width:185px">@ViewBag.Price.ToString("N0") TL</td>
                                        </tr>
                                        <tr>
                                            <th > </th>
                                            <th>KDV</th>
                                            <td>@ViewBag.KDV.ToString("N0") TL</td>
                                        </tr>
                                        <tr>
                                            <th> </th>
                                            <th>Toplam :</th>
                                            <td>@ViewBag.Destination.Price.ToString("N0") TL</td>
                                        </tr>
                                    </table>
                                </div>
                                
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row no-print">
                           
                            <div class="col-12">
                                <button type="button" class="btn btn-success float-right">
                                    <i class="far fa-envelope"></i> Mail Adresine Gönder
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>