@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <h4 class="page-title">Otobüs Arama İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Otobüs Bilgileri</div>
                    </div>
                    <div class="card-body">
                        @if (!Model.Any())
                        {

                            <div class="container mt-5">

                                <hr class="" />
                                <br />
                                <h5 class="text-center font-weight-bold text-danger">Seçtiğiniz tarihte otobüs seferi bulunmamaktadır. Lütfen tekrar  deneyiniz.</h5>
                                <br />
                                <br />
                            </div>

                        }
                        else
                        {
                            <table class="table mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Kalkış Noktası - Varış Noktası</th>
                                        <th scope="col" class="text-center">Tarih Saat</th>
                                        <th scope="col" class="text-center">Fiyat</th>
                                        <th scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-widget="expandable-table" aria-expanded="false" data-bus-id="@item.BusID">
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="mr-4">
                                                        <img src="/AdminLTE-3.2.0/dist/img/@item.Bus.FirmImageUrl" class="rounded me-3" style="width:150px;height:100px;" alt="user1">

                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center text-center mr-4">
                                                        <h6 class="mb-0 text-xl">@item.Departure </h6>
                                                        <span class="text-lg">Otogar</span>
                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center ml-4 mr-4">
                                                        <img src="/AdminLTE-3.2.0/dist/img/journey.png" class="rounded me-3" style="width:50px;height:50px;" alt="user1">
                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center text-center ml-4">
                                                        <h6 class="mb-0 text-xl">@item.Arrive </h6>
                                                        <span class="text-lg">Otogar</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <div>
                                                    <span class="text-xl  mb-0">@item.DepartureHour.ToString(@"hh\:mm")</span>
                                                </div>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class=" text-xl font-weight-bold mb-0">@item.Price.ToString("N0") TL</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="#" class="btn btn-primary ">Seç</a>
                                            </td>
                                        </tr>
                                        <tr class="expandable-body">
                                            <td colspan="4" class="text-center">
                                                <img src="/AdminLTE-3.2.0/dist/img/bus.png" width="800px" height="300px" />
                                                &emsp;
                                                <label>Koltuk No Seçin</label>
                                                &emsp;
                                                <select class="form-control" id="seatNumberInput" required>
                                                    <option value="">Koltuk Seçin</option>
                                                    @foreach (var seatNumber in item.Bus.Seat)
                                                    {
                                                        if (seatNumber.IsAvailable)
                                                        {
                                                            <option value="@seatNumber.SeatNumber">@seatNumber.SeatNumber</option>
                                                        }
                                                    }
                                                </select>
                                                &emsp;

                                                <a id="continueButton" href="Ticket/Index/@item.DestinationID" class="btn btn-success">Onayla ve Devam Et</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>

<script>
    $(document).ready(function () {

        $('.expandable-body').hide();

        $('tr[data-widget="expandable-table"]').click(function () {
            var expandableBody = $(this).next('.expandable-body');

            $('.expandable-body').not(expandableBody).hide();

            expandableBody.toggle();

            
        });


        // Devam et butonuna tıklanınca işlemi tamamla
        $('#continueButton').click(function (e) {
            e.preventDefault();
            var seatNumber = $('#seatNumberInput').val();
            var destinationID = $(this).attr('href').split('/').pop(); // destinationID'yi alma
            window.location.href = "/Ticket/Index/" + destinationID + "?seatNumber=" + seatNumber;
        });


    });
</script>